
.root {
	width: 375px;
	border: 2px solid #ddd;
	background: white;
	box-shadow: 0 4px 16px #eee;
	padding: 16px;
	word-wrap: break-word;
}

h2, h3, h4, p {
	color: black;
}

.drop {
	border-top: 2px solid #ddd;
}